@page "/employee"
@inject IMediator _mediator
@inject NavigationManager _navigationManager

<div class="card">
    <div claass="card-teacher">
        <div class="titulo-card">
            Funcionários
        </div>
    </div>
    <div class="card-body">
        <DataTable>
            <thead class="thead-light">
                <tr>
                    <th></th>
                </tr>
            </thead>
        </DataTable>
    </div>
</div>





@code {
    Funcionario Func = new Funcionario();

    protected override async Task OnInitializedAsync()
    {

    }
}
