@using Microsoft.AspNetCore.Components.Web
@namespace SistemaAcademicoCore.Pages
heightlper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SistemaAcademico - @DateTime.Now.Year</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/datatables.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="SistemaAcademicoCore.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/datatables.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@

</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            O programa apresetou um erro. Recarregue a página
        </environment>
        <environment include="Development">
            Uma exceção ocorreu, olhe o dev tools para detalhes.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="/js/addDataTable.js"></script>

    <hr class="style5" style="height: 100%;" />
    <div class="fixed-bottom text-center">
        
        &copy; <strong>@DateTime.Now.Year - Sistema Acadêmico</strong>
    </div>
</body>
</html>
