@if (Exibir)
{
    <div class="alert alert-@AlertType alert-dismissible fade show" role="alert">
        <strong>@Message</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@code {

    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public string AlertType { get; set; }
    [Parameter]
    public bool Exibir { get; set; }
}
