@page "/users"

@inherits UsersBase
@layout MainLayout
@using SistemaAcademicoWeb.Pages.Users;

<div class="card">
    <div class="card-header">
        <div class="titulo-card">
            Usuários
        </div>
    </div>
    <div class="card-body">

        <DataTable Searchable="true" Exibir="@Exibir">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Security</th>
                    <th>
                        <a class="nav-link" href="/Identity/Account/Register">
                            <span class="oi oi-plus"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Usuarios)
                {
                    <tr>
                        <td>@user.Email</td>
                        <td>@user.Email</td>
                        <td>@user.SecurityStamp</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </DataTable>
    </div>
</div>
