@page "/users"

@inherits UsersBase
@layout MainLayout
@using SistemaAcademicoWeb.Pages.Users;

<div class="card">
    <div class="card-header">
        <div class="titulo-card">
            Usuários
        </div>
    </div>
    <div class="card-body">

        <DataTable Searchable="true" Exibir="@Exibir">
            <thead class="thead-light">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Data de cadastro</th>
                    <th>
                        <a class="nav-link" href="/Identity/Account/Register" title="Novo usuário">
                            <span class="oi oi-plus"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Usuarios)
                {
                    <tr>
                        <td>@user.NomeCompleto</td>
                        <td>@user.Email</td>
                        <td>@user.DataCriacao.ToString("dd/MM/yyyy")</td>
                        <td class="col-sm-2">
                            <div style="display:flex;">
                                <a class="nav-link" href="/EditRole" title="Editar">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <a class="nav-link" href="/RemoveRole" title="Excluir">
                                    <span class="oi oi-trash"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </DataTable>
    </div>
</div>
