@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação para troca de senha";
}

<h1>@ViewData["Title"]</h1>
<p class="text-danger">
    Email enviado com sucesso. Cheque sua caixa de email para trocar a senha
</p>
