@page
@model RegisterModel
@{
    ViewData["Title"] = "Criar Usuário";
}

<h1>@ViewData["Title"]</h1>



<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6 col-lg-6">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        @*<div class="col-md-6 col-lg-6">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="col-md-6 col-lg-6">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>*@
        <div class="col-md-6 col-lg-6">
            <label asp-for="Input.NomeCompleto"></label>
            <input asp-for="Input.NomeCompleto" class="form-control" aria-required="true" />
            <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
        </div>
        <div class="col-md-6 col-lg-6">
            <label asp-for="Input.PerfilId"></label>
            <select asp-for="Input.PerfilId" class="form-select">
                <option selected disabled>-- Selecione --</option>
                @foreach(var item in Model.Perfis)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <span asp-validation-for="Input.PerfilId" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <button id="registerSubmit" type="submit" class="btn btn-primary">Registrar</button>
            <br />
        </div>
        <hr style="margin-top: 15px;" class="hr1" />
    </div>
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
