@page "/roles"

@inject IMediator _mediator
@inject NavigationManager _navigationManager

<dic class="card">
    <div class="card-header">
        <div class="titulo-card">
            Perfis de usuário
        </div>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer">

    </div>
</dic>

