@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@using SistemaAcademicoApplication.Config


<PageTitle>SistemaAcademico - @DateTime.Now.Year</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <div class="fixed-bottom text-muted">
            &copy; <strong>@DateTime.Now.Year - Sistema Acadêmico</strong>
        </div>
    </div>



    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <div id="content-page">
            <Toast Position="@ToastPosition.TopRight"
                   Timeout="1000"
                   SuccessClass="success-toast-override"
                   SuccessIconClass="fa fa-thumbs-up"
                   ErrorIconClass="fa fa-bug" />

            @Body
        </div>
    </main>
</div>

@code {
    [CascadingParameter]
    protected Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await authenticationState).User;

        if (!user.Identity.IsAuthenticated)
        {
            var ReturnUrl = _navigationManager.ToBaseRelativePath(_navigationManager.Uri);
            _navigationManager.NavigateTo($"Identity/Account/Login?returnUrl={ReturnUrl}", forceLoad: true);
        }
    }
}
