<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema Acadêmico</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="() => expandSubMenuAdm = !expandSubMenuAdm">
                <span class="oi oi-briefcase" aria-hidden="true"></span> Administração
            </NavLink>
            @if (expandSubMenuAdm)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="users" @onclick="() => expandSubMenuUser = !expandSubMenuUser">
                            <span class="oi oi-people" aria-hidden="true"></span> Usuários
                        </NavLink>
                        @if (expandSubMenuUser)
                        {
                            <ul class="nav flex-column">
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="users/import">
                                        <span class="oi oi-file" aria-hidden="true"></span> Importação
                                    </NavLink>
                                </li>
                            </ul>
                        }
                    </li>
                    <li>
                        <div class="nav-item px-3">
                            <NavLink id="menu-principal" class="nav-link" href="roles">
                                <span class="oi oi-person" aria-hidden="true"></span> Perfis
                            </NavLink>
                        </div>
                    </li>
                </ul>
            }
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandSubMenuAdm;
    private bool expandSubMenuUser;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
